*,
*::before,
*::after {
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
body{
	font-size:1.6rem;/* 16px*/
	line-height: 1.5;
	font-family: 'Lato', 'Noto Sans JP', 'Yu Gothic Medium', YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', sans-serif;
	background: #FFF;
	color: #000;
}
h1 {
	font-size: 36px;
	font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));
	line-height: 1.3;
}
h2 {
	font-size: 24px;
	font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));
	line-height: 1.3;	
}

a img:hover {
	opacity:0.7;
	transform: scale(0.9);
	transition:0.3s;
}
a{
	text-decoration: none;
}
a:link { color: #000; } 
a:visited { color: #000; }
a:hover { color: #2c60d7; } 
a:active { color: #2c60d7; } 

ul,ol{
	list-style: none;
}
.spHidden {
	display: block;
}
.pcHidden{
	display: none;
}

/*--------------------------*/

[class*=swiper]:focus {
	outline: none;
}
.slide-media,
.thumb-media {
	position: relative;
	overflow: hidden;
}
.slide-media img,
.thumb-media img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.mv01 {
	margin-bottom: 0;
	position: relative;
}
.mv01 .swiper-fade .swiper-slide {
	-webkit-transition-property: opacity, -webkit-transform !important;
	transition-property: opacity, -webkit-transform !important;
	transition-property: opacity, transform !important;
	transition-property: opacity, transform, -webkit-transform !important;
	pointer-events: none;
}
.mv01 .swiper-fade .swiper-slide-active {
	pointer-events: auto;
}
.mv01 .slide-media {
	height: 100vh;
}
.mv01 .slide-media img {
	-webkit-transition: 7s 1s ease-out;
	transition: 7s 1s ease-out;
}

.mv01 .swiper-slide[class*=-active] .slide-media img {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

@-webkit-keyframes mv01-fadeIn {
	0% {
		-webkit-transform: scale(0.5);
				transform: scale(0.5);
		opacity: 0;
		-webkit-filter: blur(300px);
				filter: blur(300px);
	}
	100% {
		-webkit-transform: scale(1);
				transform: scale(1);
		opacity: 1;
		-webkit-filter: blur(0);
				filter: blur(0);
	}
}

@keyframes mv01-fadeIn {
	0% {
		-webkit-transform: scale(0.5);
				transform: scale(0.5);
		opacity: 0;
		-webkit-filter: blur(300px);
				filter: blur(300px);
	}
	100% {
		-webkit-transform: scale(1);
				transform: scale(1);
		opacity: 1;
		-webkit-filter: blur(0);
				filter: blur(0);
	}
}

.mainNav{
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;
	text-align: center;
	z-index: 99;
	width: 1280px;
	padding: 0 20px;
}
.mainNav ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}
.mainNav ul li a{
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 2.2rem;
	letter-spacing: 2px;
	transition:all 0.2s;
	display: block;
}
.mainNav ul li a:hover{
	opacity: 0.9;
	transform: scale(0.9);
}
.mv01 h1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9;
}
.mv01 h1 a{
	width: 350px;
	transition:all 0.2s;
	display: block;
}
.mv01 h1 a img{
	width: 100%;
}
.mv01 h1 a:hover{
	opacity: 0.9;
	transform: scale(0.9);
}
.scrolls{
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9;
}
.scrolls a{
	width: 30px;
	display: block;
	transition:all 0.2s;
}
.scrolls a img{
	width: 100%;
}
.scrolls a:hover{
	transform: translateY(10px);
}

.mainWrapper{
	width: 100%;
	background-color: #fff;
	background-size: 200px 126px;
	padding: 25px 0 50px 0;
}
h2{
	font-family: 'Roboto Slab', serif;
	font-size: 4.2rem;
	font-weight: normal;
	letter-spacing: 3px;
}
h3{
	font-family: 'Roboto Slab', serif;
	font-size: 4.2rem;
	font-weight: normal;
	letter-spacing: 3px;
}

.news{
	width: 1280px;
	margin: 0 auto;
	text-align: center;
	padding: 40px 20px 0 20px;
}

.news ul{
	padding: 30px 0 50px 0;
}
.news ul li{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: left;
	padding: 30px 0;
	border-bottom: 2px solid #000;
}
.news ul li:first-child{
	border-top: 2px solid #000;
}
.newsDate{
	width: 20%;
	font-family: 'Roboto Slab', serif;
	font-size: 1.8rem;
	line-height: 1.5;
}
.newsTxt{
	width: 80%;
	font-size: 1.8rem;
	line-height: 1.5;
	word-break: break-all;
}

.mainBtn a{
	display: block;
	padding: 18px 0;
	background: #000;
	color: #fff;
	width: 20%;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #000;
	transition:all 0.2s;
	font-family: 'Roboto Slab', serif;
}
.mainBtn a:hover{
	background: transparent;
	color: #000;
	transform: scale(0.9);
}
.mainBtn2{
	padding: 50px 0 0 0;
}
.confirmBtn{
	padding: 28px 0 0 0;
}
.confirmBtn a{
	display: block;
	padding: 18px 0;
	background: #000;
	color: #fff;
	width: 20%;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #000;
	transition:all 0.2s;
}
.confirmBtn a:hover{
	background: transparent;
	color: #000;
	transform: scale(0.9);
}
.navWrapper{
	width: 100%;
	background: #e6e6e6;
	padding: 50px 0 25px 0;
}
.navInner{
	width: 1280px;
	margin: 0 auto;
	text-align: center;
	padding: 0 20px;
}
.navInner ul{
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.navInner ul li{
	width: 48%;
	margin-bottom: 25px;
	overflow: hidden;
}
.navInner ul li a{
	width: 100%;
	display: block;
	padding: 120px 0;
	font-family: 'Roboto Slab', serif;
	font-size: 3.0rem;
	letter-spacing: 3px;
	color: #fff;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.navInner ul li a:after {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: -1;
}
.navInner ul li a:hover:after {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.navInner ul li .navBox a{
	z-index: 1;
	position: relative;
}
ul li.nav01 a:after{
	background: linear-gradient(rgba(0, 0, 0, .5),  rgba(0, 0, 0, .5)),  url("../images/mainvisual1.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
ul li.nav02 a:after{
	background: linear-gradient(rgba(0, 0, 0, .5),  rgba(0, 0, 0, .5)),  url("../images/mainvisual2.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
ul li.nav03 a:after{
	background: linear-gradient(rgba(0, 0, 0, .5),  rgba(0, 0, 0, .5)),  url("../images/mainvisual3.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
ul li.nav04 a:after{
	background: linear-gradient(rgba(0, 0, 0, .5),  rgba(0, 0, 0, .5)),  url("../images/mainvisual4.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.footWrapper{
	width: 100%;
	background-color: #333;
	background-size: 160px 131px;
	padding: 50px 0 50px 0;
	color: #fff;
}
.footer{
	width: 1280px;
	margin: 0 auto;
	text-align: center;
	padding: 0 20px 0 20px;
}
.footNav ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 40px 0;
}
.footNav ul li a{
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 2.2rem;
	transition:all 0.2s;
	letter-spacing: 2px;
	display: block;
}
.footNav ul li a:hover{
	opacity: 0.9;
	transform: scale(0.9);
}
.copyWrapper{
	width: 100%;
	padding: 50px 0;
	background: #000;
	color: #fff;
	margin: 0 auto;
	text-align: center;
}
.copyWrapper p{
	padding: 30px 0 0 0;
	font-size: 1.4rem;
	letter-spacing: 2px;
}

/*-------------default-------------*/
.defaultHead{
	width: 100%;
	background-color: #000;
	background-position: center;
	background-size: cover;
}
.defaultHeadInner{
	width: 1280px;
	margin: 0 auto;
	text-align: center;
	padding: 30px 20px;
}
.defaultHeadInner h1 a{
	width: 250px;
	transition:all 0.2s;
	display: block;
	margin: 0 auto 20px auto;
}
.defaultHeadInner h1 a img{
	width: 100%;
}
.defaultHeadInner h1 a:hover{
	opacity: 0.9;
	transform: scale(0.9);
}
.defaultNav{
	margin: 0 auto;
	text-align: center;
	z-index: 99;
}
.defaultNav ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}
.defaultNav ul li a{
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 2.2rem;
	letter-spacing: 2px;
	transition:all 0.2s;
	display: block;
}
.defaultNav ul li a:hover{
	opacity: 0.9;
	transform: scale(0.9);
}
.defaultInner{
	width: 1280px;
	margin: 0 auto;
	text-align: center;
	padding: 30px 20px;
}
.defaultInner h2{
	padding: 0 20px 50px 20px;
}
.defaultInner h3{
	padding: 12px 16px;
	text-align: left;
	font-size: 2.5rem;
	color: #FFF;
	background-color: #000;
}

/*-------------news-------------*/
ul.newsP{
	padding: 0;
}
ul.newsP li{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: left;
	padding: 30px 0;
	border-bottom: 2px solid #000;
}
ul.newsP li:first-child{
	border-top: 2px solid #000;
}
.newsPDate{
	width: 20%;
	font-family: 'Roboto Slab', serif;
	font-size: 1.8rem;
	line-height: 1.5;
}
.newsPTxt{
	width: 80%;
	font-size: 1.8rem;
	line-height: 1.5;
	word-break: break-all;
}
.newsPTxt p{
	margin: 0 0 20px 0;
}
.newsPTit{
	font-size: 2.0rem;
	font-weight: 600;
	padding: 0 0 20px 0 ;
}
.newsPLink{
	padding: 10px 0 0 0;
}
.newsPLink a{
	display: inline-block;
	background: #000;
	padding: 5px 30px;
	font-size: 1.2rem;
	color: #fff;
	border: 2px solid #000;
}
.newsPLink a:hover{
	background: transparent;
	color: #000;
}

/*-------------live-------------*/
.tab {
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 43px 0;
}
.tab > label {
	flex: 1 1;
	order: -1;
	position: relative;
	min-width: 70px;
	padding: .7em 1em;
	background-color: #f2f2f2;
	color: #999;
	font-weight: 600;
	font-size: .9em;
	text-align: center;
	cursor: pointer;
	margin: 0 1px;
}
.tab > label:hover,
.tab label:has(:checked) {
	background-color: #000000;
	color: #fff;
}
.tab label:has(:checked)::before {
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
	width: 18px;
	height: 9px;
	background-color: #000000;
	content: '';
	clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.tab input {
	display: none;
}
.tab > div.liveArea {
	display: none;
	width: 100%;
	padding: 2.5em 0 0 0;
	min-height: 300px;
	text-align: left;
}
.tab label:has(:checked) + div.liveArea {
	display: block;
}

.monthLink{
	width: 100%;
}
.monthLink ul{
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}
.monthLink ul li{
	position: relative;
	width: 19.84%;
	padding: .7em 1em;
	background-color: #f2f2f2;
	color: #999;
	font-weight: 600;
	font-size: .9em;
	text-align: center;
	cursor: pointer;
	margin: 0 0.2% 0 0;
}
.monthLink ul li:last-child{
	margin: 0 0 0 0;
}
.monthLink ul li a{
	display: block;
}
.liveAreas{
	width: 100%;
	padding: 2.5em 0 0 0;
	min-height: 300px;
	text-align: left;
}
.livetit{
	font-size: 3.0rem;
	line-height: 1.2;
	font-weight: 700;
	margin: 0 0 10px 0;
	background: #000;
	padding: 10px;
	color: #fff;
	width: 100%;
	margin: 0 0 .5em 0;
}
.livetit a{
	color: #fff;
}
.livetit a:hover{
	color: #2c60d7;
}
.liveBox{
	padding: 0 0 2em 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.liveBox .date{
	font-size: 2.5rem;
	font-weight: 700;
}
.liveBox .place{
	font-size: 2.5rem;
	font-weight: 700;
}
.liveBox .liveMidashi{
	padding: .8em 0 0 1em;
	font-weight: 700;
	position: relative;
}
.liveBox .liveMidashi::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 700;
	content: '\f054';
	font-size: 1.4rem;
	position: absolute;
	left: 0;
	top: 1.05em;
	height: auto;
}
.liveBox .liveLeft{
	width: 70%;
	padding: 0 2% 0 0;
}
.liveBox .liveRight{
	width: 30%;
	padding: 0 0 0 2%;
}
.liveBox .liveRight img{
	width: 100%;
}

.blockbox dl {
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	background: #333;
	position: relative;
}
.blockbox dt {
	padding: 40px;
	border-bottom: 2px solid #fff;
	width: 30%;
	height: auto;
	color: #fff;
	font-size: 1.6rem;
	font-weight: bold;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	display: flex;
	align-items: center;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
}
.blockbox p{
	text-align: left;
	padding: 20px 0 0 0;
	font-weight: normal;
	letter-spacing: 3px;
	line-height: 30px;
}
.blockbox dt:last-of-type{
	border-bottom: 0px;
}
.blockbox dd {
	padding: 40x;
	height: auto;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	text-align: left;
	width: 70%;
	background: #fff;
}
.blockbox dd:last-child {
	border-bottom: 0;
}
.blockbox textarea{
	margin: 5px 0 0 0;
	width:100%;
	height:300px;
	font-size: 1.6rem;
	padding: 20px;
	border: 2px solid #999;
	border-radius: .5em;
}
.blockbox textarea:focus{
	border: 2px solid #4577fe;
	outline: 0;
}
.blockbox input[type="text"]{
	font-size: 1.6rem;
	width: 100%;
	padding: 20px;
	vertical-align: top;
	margin: 0 0 0 0;
	border: 2px solid #999;
	border-radius: .5em;
}
.blockbox input[type="text"]:focus{
	border: 2px solid #4577fe;
	outline: 0;
}
.blockbox input[type="number"]{
	font-size: 1.6rem;
	width: 100%;
	padding: 20px;
	vertical-align: top;
	border: 2px solid #999;
	-webkit-appearance: none !important;
	margin: 0 !important;
	-moz-appearance:textfield !important;
	border-radius: .5em;
}
.blockbox input[type="number"]:focus{
	border: 2px solid #4577fe;
	outline: 0;
}
.blockbox input[type="submit"]{
	position: relative;
	width: 250px;
	height: auto;
	margin: 0 auto;
	padding: 18px;
	font-size: 1.6rem;
	overflow: hidden;
	cursor: pointer;
	display: block;
	background: #000;
	color: #fff;
	font-weight: 600;
	clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
	border: none;
}

/*-------------disco-------------*/
.dF{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	padding: 25px 0 0 0;
}
.dF a img{
	padding: 15px 0 0 0;
}
.dFlast{
	margin: 0 0 25px 0;
}
.dfLeft{
	width: 20%;
}
.dfLeft img{
	width: 100%;
	vertical-align: bottom;
}
.dfRight{
	width: 80%;
	text-align: left;
	padding: 0 0 0 30px;
}
.dfTit{
	font-size: 2.6rem;
	font-family: 'Roboto Slab', serif;
	letter-spacing: 2px;
	padding: 0 0 8px 0;
}
.dfTxt p{
	line-height: 1.5;
	font-size: 1.6rem;
}
.dfp{
	padding: 13px 0 0 0;
}

/*------------contact-------------*/
.contactTxt{
	padding: 0 0 20px 0;
	text-align: left;
	line-height: 30px;
}
.blockbox{
	width: 100%;
	padding: 10px 0;
}
.blockbox dl{
	display: flex;
	flex-wrap: wrap;
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	margin: 0;
	width: 100%;
	background: black;
	position: relative;
}
.blockbox dt {
	padding: 20px;
	border-bottom: 2px solid #fff;
	width: 30%;
	height: auto;
	color: #fff;
	font-size: 1.6rem;
	font-weight: bold;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	display: flex;
	align-items: center;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
}
.blockbox dt:last-of-type{
	border-bottom: 0px;
}
.blockbox dt:first-child {
	border-top: 0 dotted #333;
}
.blockbox dd {
	padding: 20px;
	height: auto;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	text-align: left;
	width: 70%;
	background: #fff;
}
.blockbox dd:last-child {
	border-bottom: 0;
}
.blockbox textarea{
	margin: 5px 0 0 0;
	width:100%;
	height:300px;
	font-size: 1.6rem;
	padding: 20px;
	border: 2px solid #999;
	border-radius: .5em;
}
.blockbox textarea:focus{
	border: 2px solid #4577fe;
	outline: 0;
}
.blockbox input[type="text"]{
	font-size: 1.6rem;
	width: 100%;
	padding: 20px;
	vertical-align: top;
	margin: 0 0 0 0;
	border: 2px solid #999;
	border-radius: .5em;
}
.blockbox input[type="text"]:focus{
	border: 2px solid #4577fe;
	outline: 0;
}
.blockbox input[type="number"]{
	font-size: 1.6rem;
	width: 100%;
	padding: 20px;
	vertical-align: top;
	border: 2px solid #999;
	-webkit-appearance: none !important;
	margin: 0 !important;
	-moz-appearance:textfield !important;
	border-radius: .5em;
}
.blockbox input[type="number"]:focus{
	border: 2px solid #4577fe;
	outline: 0;
}
.blockbox input[type="submit"]{
	position: relative;
	width: 250px;
	height: auto;
	margin: 0 auto;
	padding: 18px;
	font-size: 1.6rem;
	overflow: hidden;
	cursor: pointer;
	display: block;
	background: #000;
	color: #fff;
	font-weight: 600;
	clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
	border: none;
}
 .blockbox .mainBtn {
	padding: 30px 0 0 0;
}

/*-------------page_top-------------*/
#page_top{
	width: 100px;
	height: 100px;
	position: fixed;
	left: -100px;
	bottom: 10px;
	z-index: 1500;
}
#page_top a{
	background: url("../images/pagetop.png");
	background-size: 100% auto;
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	text-decoration: none;
}
/*-------------contact-------------*/
.contact_p{
	text-align: left;
}
.confContent{
	text-align: left;
}
.confTIT{
	font-weight: 700;
}
.redTxt{
	color: #ff0000;
}

.commentBox{
	padding: 2% 3%;
	background: #fff;
	color: #131313;
	margin: 2% 0 2% 0;
	border-radius: 1em;
	border: 2px solid #333;
}